input{
    border: 0;
    border-radius: 0.25em;
    font-size: inherit;
    width: 100%;
}

.button-eye{
    right: 0;
    background-color: transparent;
    border: 0;
    transition: background-color 0.5s;
    width: 1.5em;
    height: 1.5em;
    border-radius: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}