{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/user_profile.css' %}">


<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="{{user.image.url}}"><span class="font-weight-bold">Edogaru</span><span class="text-black-50">edogaru@mail.com.my</span><span> </span></div>
        </div>
        <div class="col-md-8">
			{% if msg %}
			<p class="text-success">{{msg}}</p>
			{% endif %}
			<table class="table table-bordered">
				<form method="post">
					{% csrf_token %}
					{{form.as_p}}
					<tr>
						<td colspan="2">
							<input type="submit" value="Save" class="btn btn-primary" />
						</td>
					</tr>
				</form>
			</table>
		</div>
        
    </div>
</div>
</div>
</div>

{% endblock %}